<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <identity impersonate="true" xdt:Transform="Insert"/>
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" xdt:Transform="Insert"/>
        <anonymousAuthentication enabled="false" xdt:Transform="Insert"/>
      </authentication>
    </security>
  </system.webServer>
  <connectionStrings>
	<add name="CardPeakDbContext"
	  connectionString="metadata=res://*/CardPeakDbContext.csdl|res://*/CardPeakDbContext.ssdl|res://*/CardPeakDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CardPeak;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>