@import "theme.less";

.btn-primary {
    background: none;
    background-color: @button-color-primary;
}

.btn-danger {
    background: none;
    background-color: @button-color-danger;
}


.btn-success {
    background: none;
    background-color: @button-color-success;
}

.btn-info {
    background: none;
    background-color: @button-color-info;
    border-color: @button-color-info;

    &:hover, &:focus {
        background: none;
        background-color: @button-color-info-hover;
        border-color: @button-color-info-hover;
    }
}

.confirm-button {
    display: inline;
}