@import "theme.less";

.btn-primary {
    background: none;
    background-color: @button-color-primary;
}

.btn-danger {
    background: none;
    background-color: @button-color-danger;
}


.btn-success {
    background: none;
    background-color: @button-color-success;
}