@import "mixins.less";
@import "navbar.less";
@import "theme.less";

html,
body {
    min-height: 100%;
    width: 100%;
    background-color: @body-bg-color;
    .page-font;
}

h1, h2, h3, h4 {
    color: @header-font-color;
    .header-font;
}

h5, h6 {
    color: @header-font-color;
    font-weight: bold;
}

hr {
    border-color: @theme-color-light;
    border-width: 3px;
    max-width: 200px;
}

.spacer-right {
    padding-right: 10px;
}

.spacer-left {
    padding-left: 10px;
}

.spacer-bottom {
    padding-bottom: 10px;
}

.spacer-top-large {
    padding-top: 50px;
}

.margin-top {
    margin-top: 10px;
}

.grid-rows {
    background-image: none;
    background-color: @body-bg-color;
}

.panel-row-header {
    padding: 0;
    margin: 0;
    padding-bottom: -10px;
    background-image: none;
    background-color: @panel-row-header-bg-color;
    border: none;
}

.panel-row {
    padding: 0;
    margin: 0;
}

.panel-agent-dashboard {
    height: 100%;
    padding: 0;
}

.currency:before {
    content: "PHP ";
}

.text-highlight {
    font-size: large;
    font-weight: bold;
    color: @header-font-color;

    &.amount-debit {
        color: @theme-color-debit;
    }

    &.amount-credit {
        color: @theme-color-credit;
    }
}

.no-padding {
    padding: 0;
    margin: 0;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-header, .modal-footer {
    background-color: @body-bg-color;
    background-image: none;
}

.perf-up {
    color: @theme-color-credit;
}

.perf-down {
    color: @theme-color-debit;
}

.btn, label {
    text-transform: lowercase;
}