@import "mixins.less";
@import "theme.less";

.li-active() {
    background: none !important;
    background-image: none !important;
    background-color: @nav-active-bg-color !important;
    color: @nav-text-color-contrast !important;
}

.li-hover-active() {
    > a {
        color: @nav-text-color;
        text-transform: lowercase;

        &:focus, &:hover {
            border: none;
            background: none !important;
            background-image: none !important;
            background-color: @nav-hover-bg-color !important;
            color: @nav-text-color-dark !important;
        }
    }

    &.active > a {
        .li-active
    }
}

.navbar-default {
    background: none;
    background-color: @nav-inverse-bg-color;

    .navbar-toggle {
        border-color: @nav-text-color-contrast;

        &:hover,
        &:focus {
            background-color: @nav-inverse-bg-color;
            color: @nav-text-color-contrast;
        }

        .icon-bar {
            background-color: @nav-text-color;
        }
    }
}

.navbar-collapse,
.navbar {
    .navbar-brand {
        color: @nav-text-color;
        .brand-font;

        &:hover {
            color: @nav-hover-bg-color;
        }
    }

    .navbar-nav > li {
        .li-hover-active
    }

    .dropdown {
        &.open > a {
            .li-active
        }
    }
}

.dropdown-menu {
    background: none;
    background-color: @nav-inverse-bg-color;

    > li {
        .li-hover-active
    }
}

.fa-nav {
    padding-right: 5px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: @nav-text-color;
    }
}