@nav-text-color: #F5F6F8;
@nav-text-color-contrast: #D1773D;
@nav-inverse-bg-color: #242424;

@header-font-color: #D1773D;

@btn-default-bg-color: #D1773D;
@btn-default-color: #FFFFFF;
@btn-dark-color: #242424;

@body-bg-color: #F5F6F8;
@content-bg-color: #FFFFFF;

@grid-header-bg-color: #D1773D;