@theme-color: #242F83;
@theme-color-light: #B6D8D7;
@theme-color-inverse: #34495E;
@theme-color-white: #f5f6f8;
@theme-color-credit: #00B140;
@theme-color-debit: #E62117;

@button-color-primary: @theme-color-inverse;
@button-color-danger: @theme-color-debit;
@button-color-success: @theme-color-credit;

@nav-text-color: @theme-color-white;
@nav-text-color-contrast: @theme-color-light;
@nav-text-color-dark: @theme-color-inverse;
@nav-inverse-bg-color: @theme-color-inverse;
@nav-active-bg-color: @theme-color;
@nav-hover-bg-color: @theme-color-light;

@header-font-color: @theme-color;

@body-bg-color: @theme-color-white;

@panel-row-header-bg-color: @theme-color-light;