@theme-color: #242F83;
@theme-color-light: #B6D8D7;
@theme-color-inverse: #242424;
@theme-color-white: #f5f6f8;

@nav-text-color: @theme-color-white;
@nav-text-color-contrast: @theme-color-light;
@nav-inverse-bg-color: @theme-color-inverse;

@header-font-color: @theme-color;

@btn-default-bg-color: @theme-color;
@btn-default-color: @theme-color-white;

@body-bg-color: @theme-color-white;